<!doctype html>
<html>
  <head>
    <title> <%= title %> </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"><!-- load fontawesome -->
    <link rel="stylesheet" href="../../stylesheets/bootstrap.css">
    <link rel="stylesheet" href="../../stylesheets/style.css">
    <style>
      form { padding: 3px; position: fixed; bottom: 0; right:0; width: 80%; }
      form input { border: 0; padding: 10px; width: 85%; margin-right: .5%; }
      form button { width: 12.5%; background: rgb(0, 102, 255); border: none; padding: 10px; color:white; }
      #messages { list-style-type: none; padding: 0; margin-top:30px; margin-bottom:50px }
      #messages li { padding: 5px 10px; font-size:20px }
      #people { margin: 0; padding: 0;} 
      #people li { list-style-type: none; font-size:20px; text-align: center; padding: 2px }

      #side span { 

          color:LawnGreen; 
          font-size: 30px;
          text-align: center;
          border-bottom-style: solid;
          border-bottom-width: 2px;
          border-bottom-color: LawnGreen;
      }
        .container {

          width: 100%;
          padding: 0px;
          border: 0;
          top: 0;
          left: 0;
        }

        .container .content {

          width: 1200px;
          left: 0;        
        }
          
        .container .sidebar {

          position: fixed;
          width: 200px;
          top: 140px;
          right: 50px;
          min-height: 300px;
          border-style: solid;
          border-width: 2px;
          border-color: LawnGreen;
        }

    </style>
    </head>
    <body>
      <nav class="navbar navbar-default" style="top: 20px; position:fixed">
          <div class="container-fluid">
            <div class="navbar-header" style="text-align:center;">
              <a class="navbar-brand" style="font-size:35px; color:white;"><%= title %></a>
            </div>
          </div>
        </nav>
    <table class="container">
      <tr>
        <td class="content">
            <ul id="messages"></ul>
            <form action = "/chatroom">
              <input id="m" autocomplete="off" /><button type="submit">Send</button>
            </form>
        </td>
        <td class="sidebar" id="side" >
          <span>In Chat Now</span>  
          <ul id="people"></ul>
        </td>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <script>
          var socket = io();
          $('form').submit(function(){

            socket.emit( 'chat message', $('#m').val() );
            $('#m').val('');
            return false;
          });    
          socket.on('chat message', function(instream){

            var colorname = instream["color"];
            var li1 = '<li style=' + colorname + '>';
            var msg = instream['msg'];
            $('#messages').append( $(li1).text(msg) );
          });

          socket.on('update', function(instream){

            var colorname = instream["color"];
            var li1 = '<li style=' + colorname + '>';
            var msg = instream['msg'];
            $('#messages').append( $(li1).text(msg) );
            $("#people").empty();
            var people = instream["people"];
            for(var name in people){

                var sname = people[name]["name"];
                var color = people[name]["color"];
                li1 = '<li style=' + color + '>';
                $('#people').append( $(li1).text(sname) );
            }
          });
        </script>
      </table>
    </tr>
  </body>
</html>