<!-- views/categories.ejs -->
<!doctype html>
<html>
<head>
  <title>Minion Movies</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"><!-- load fontawesome -->
  <link rel="stylesheet" href="../../stylesheets/bootstrap.css">
  <link rel="stylesheet" href="../../stylesheets/style.css">
  <script src="../../js/bootstrap.min.js"></script>
  <script src="../../js/jquery.js"></script>
  <script src="../../js/bootstrap.js"></script>
  <style>
    body{ padding-top: 50px; }

    .well {
        margin-bottom: 50px;
    }
  #frame {
      width: 800px;
      height: 520px;
      border: none;
      -moz-transform: scale(0.2);
      -moz-transform-origin: 0 0;
      -o-transform: scale(0.2);
      -o-transform-origin: 0 0;
      -webkit-transform: scale(0.2);
      -webkit-transform-origin: 0 0;
  }
  </style>
</head>
<body>
    <nav class="navbar navbar-default">

      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Minion Movies</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/"> Movies <span class="sr-only">(current)</span></a></li>
            <li><a href="/users"> Users </a></li>
            <li><a href="/events"> Events </a></li>
            <li><a href="/forum"> Forum </a></li>
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Groups <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/allGroups"><i class="fa fa-users"></i> All Groups </a></li>
                <li><a href="/createGroup"><i class="fa fa-users"></i> Create Group </a></li>
              </ul>
            </li>
          </ul>

          <form action="/result" method="post" class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" size="25" placeholder="Search movies or people here" name="searchContent">
            </div>
            <select name="searchType" size="1">
                    <option value="title" selected> title </option>
                    <option value="actors"> actors </option>
                    <option value="country"> country </option>
                    <option value="tag"> tag </option>
                    <option value="year"> year </option>
                    <option value="genres"> genres </option>
            </select>
            <button type="submit" class="btn btn-default">Search</button>
          </form>

          
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Profile <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/profile"><span class="fa fa-user"></span> My Profile </a></li>
                <li><a href="/likedMovies"><span class="fa fa-tv"></span> My Movie </a></li>
                <li><a href="/logout"><span class="fa fa-facebook"></span> Log out </a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Bing <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <form method ="post" id ="bingSearchForm" action ="/bing" class="navbar-form navbar-left" role="search">
                  <div class="form-group">
                    <input type="search"  results= "s" class="form-control" size="20" placeHolder = "  Bing! Search" name="bingSearchContent"/>
                  </div>
                </form>
              </ul>
            </li>
          </ul>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!-- Reviews: every div shows one review tuple。 -->
    <div class="container">
      <div class="well">
        <ul>
          <% for(var i = 0; i < groups.length; i++) { %>
            <% var groupLink = '/group/' + groups[i]["gid"] %>
            <li>
              <a href = <%= groupLink %>><h3 style="color:navy;"><strong> Group name:  </strong><%= groups[i]["gname"] %></h3></a>
              <p></p>
              <h4 style="color:orange;">Description:&nbsp;&nbsp;<i><%= groups[i]["description"] %></i></h4>
            </li>
          <% } %>
        </ul>
      </div>
</body>
</html>